<div class="form-group row">
  <label class="col-sm-2 col-form-label"><b>Department Name</b></label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="inputDep.name" name="departmentName"
      placeholder="Enter Department Name">
  </div>
</div>


<button (click)="addDepartment()" *ngIf="inputDep.DepartmentId === 0" class="btn btn-primary">Add</button>
<button (click)="updateDepartment()" *ngIf="inputDep.DepartmentId !== 0" class="btn btn-primary">Update</button>
