<div class="form-group row">
  <label class="col-sm-2 col-form-label"><b>Employee Name</b></label>
  <div class="col-sm-9">
    <input type="text" class="form-control" [(ngModel)]="inputEmp.name" name="employeeName"
      placeholder="Enter Employee Name">
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label"><b>Department</b></label>
  <div class="col-sm-9 btn-group" dropdown>
    <button class="btn dropdown-toggle select-dep text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      {{SelectedDepartmentName}}
    </button>
    <div class="department-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" *ngFor="let department of DepartmentList"
        (click)="selectValue(department)">{{department.name}}
      </a>
    </div>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-2 col-form-label"><b>Email</b></label>
  <div class="col-sm-9">
    <input type="text" class="form-control" [(ngModel)]="inputEmp.email" name="employeeEmail"
      placeholder="Enter Employee Email">
  </div>
</div>

<button (click)="addEmployee()" *ngIf="inputEmp.EmployeeId === 0" class="btn btn-primary">Add</button>
<button (click)="updateEmployee()" *ngIf="inputEmp.EmployeeId !== 0" class="btn btn-primary">Update</button>
