<html>

    <body>
        Dear <b>{{EmployeeName}}</b>, the following is the list of your tasks for today:<br />

    <ul>TaskList</ul>
    <br />

    Thanks & Regards,<br /><br />

    IT Department at ACME Corporation.<br />
</body>

</html>