<div class="container">

  <nav>
    <div class="nav nav-tabs main-nav-tabs" id="nav-tab" role="tablist">

      <button routerLink="departments" class="nav-link" [ngClass]="isActiveComponent('departments')"
        id="nav-departments-tab" data-bs-toggle="tab" type="button" role="tab"
        (click)="setActiveComponent('departments')"><span>Departments</span></button>

      <button routerLink="employees" class="nav-link" [ngClass]="isActiveComponent('employees')" id="nav-employees-tab"
        data-bs-toggle="tab" type="button" role="tab"
        (click)="setActiveComponent('employees')"><span>Employees</span></button>

    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
