@import 'theme';

.etask-container {
  border: solid $border-color;
  margin: 30px;
}

.etask-line-separator {
  background-color: $border-color;
  opacity: 0.5;
  margin-top: 25px;
  margin-bottom: 25px;
}

.etask-table-body .btn {
  width: 20px;
  padding-left: 0px;
}
