<div class="etask-container modal-body">

  <h5><b>Task List</b></h5>

  <hr class="etask-line-separator">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label"><b>Description</b></label>

    <div class="col-sm-9">
      <!-- ToDo: Validate that this input is not empty -->
      <input type="text" class="form-control" [(ngModel)]="inputTask.description" name="taskDescription"
        placeholder="Enter Task">
    </div>

    <div class="col-sm-1">
      <button (click)="addTask()" class="btn btn-primary" [disabled]="editingTask">Add</button>
    </div>

    <br />
    <br />

    <div class="col-sm-2"></div>
    <div class="col-sm-9">
      <button (click)="updateTaskModification()" class="btn btn-primary" [hidden]="!editingTask">Update</button>&nbsp;
      <button (click)="cancelTaskModification()" class="btn btn-light border" [hidden]="!editingTask">Discard</button>
    </div>
  </div>

  <hr class="etask-line-separator" [hidden]="!editingTask">

  <!-- Table -->
  <table class="table table-striped">
    <tbody class="etask-table-body">
      <tr *ngFor="let dataItem of TaskList; index as i">
        <td>{{i + 1}}</td>
        <td>{{dataItem.description}}</td>
        <td>
          <div class="d-flex justify-content-end option-buttons">

            <button type="button" class="btn mr-1" data-toggle="modal" data-target="#showDepModal"
              (click)="editTask(dataItem)" data-backdrop="static" data-keyboard="false" [disabled]="editingTask"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg></button>

            <button type="button" class="btn mr-1" (click)="deleteTask(dataItem)" [disabled]="editingTask"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
                viewBox="0 0 16 16">
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
              </svg></button>

          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <hr class="etask-line-separator">

  <div class="d-flex justify-content-end">
    <button (click)="saveBulkTasks()" class="btn btn-primary" [disabled]="editingTask">&nbsp;Save&nbsp;</button>&nbsp;
    <button (click)="cancelBulkTasks()" class="btn btn-light border" [disabled]="editingTask">Cancel</button>
  </div>

</div>
